<%= form_for @recipe do |f| %>


  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, :autofocus => true %>
  <%= f.label :name %>
  <br>
  <%= f.text_field :course %>
  <%= f.label :course %>
  <br>
  <%= f.text_field :cooktime %>
  <%= f.label :cooktime %>
  <br>
  <%= f.text_field :servingsize %>
  <%= f.label :servingsize %>
  <br>
  <%= f.text_field :instructions %>
  <%= f.label :instructions %>
  <br>
  <%= f.text_field :image %>
  <%= f.label :image %>
  <br>
  <% Ingredient.order(:name).each do |ingredient| %>
    <span><%= ingredient.name %></span>
    <%= checkbox(@recipe, ingredient) %>
  <% end %>
  <br>
  <%= f.submit %>
<% end %>
